body {
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
}

a:visited {
  color: blue;
}

table {
  margin: 1em auto;
  table-layout: fixed;
  border-collapse: collapse;
  text-align: center;
  color: black;
}

table,
td,
th {
  border: 1px solid #212121;
}

td,
th {
  padding: 0.4em 0.8em;
}

thead,
tfoot {
  background-color: #484848;
  color: #fff;
}

#title {
  background-color: #212121;
  font-size: 1.5em;
}

#copyright {
  font-size: 0.8em;
  text-align: right;
}

#copyright a {
  color: #90caf9;
  text-decoration: none;
}

.Informatics {
  background-color: #ff8f00;
}

.UkrainianLanguage,
.UkrainianLiterature {
  background-color: #66bb6a;
}

.Chemistry {
  background-color: #8e24aa;
  color: #fff;
}

.Geography {
  background-color: #29b6f6;
}

.Physics {
  background-color: #673ab7;
  color: #fff;
}

.Algebra,
.Geometry {
  background-color: #e53935;
  color: #fff;
}

.EnglishLanguage {
  background-color: yellow;
}

.History {
  background-color: #795548;
  color: #fff;
}

.Biology {
  background-color: #cddc39;
}
