body {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1em;
}

main {
  flex-grow: 1;
}

#current-dir {
  display: inline-flex;
  padding: 0;
  margin: 0;
  overflow: auto;
  border: 3px solid black;
  border-radius: 0.3em;
  max-width: 100%;
}

#current-dir > div:not(:last-child) {
  border-right: 3px solid black;
}

#current-dir > div > * {
  display: block;
  padding: 0.2em;
  white-space: nowrap;
}

#current-dir > div > *:not(a) {
  background-color: #cccccc;
}

#contents {
  padding-left: 0;
  list-style-type: none;
  font-size: 1.1em;
}

#contents li {
  border: 1px solid black;
  overflow: hidden;
}

#contents > li:not(:first-child) {
  border-top-style: none;
}

#contents a {
  display: block;
  padding: 0.3em 0.4em;
}

#contents .fa {
  width: 1em;
  text-align: center;
}

#contents a:hover,
#contents a:focus,
#current-dir a:hover,
#current-dir a:focus {
  background-color: #f0f0f0;
}
