body {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1em;
}

main {
  flex-grow: 1;
}

#current-dir > div {
  border: 3px solid black;
  overflow: hidden;
}

#current-dir > div:not(:last-child) {
  border-right-style: none;
}

#current-dir > div:first-child {
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
}

#current-dir > div:last-child {
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}

#current-dir > div > * {
  display: block;
  padding: 0.2em;
}

#current-dir > div > *:not(a) {
  background-color: #dddddd;
}

#contents {
  padding-left: 0;
  list-style-type: none;
}

#contents li {
  border: 1px solid black;
  overflow: hidden;
}

#contents > li:not(:first-child) {
  border-top-style: none;
}

#contents a {
  display: block;
  padding: 0.2em 0.4em;
}

#contents .fa {
  width: 1em;
  text-align: center;
}

#contents a:hover,
#contents a:focus,
#current-dir a:hover,
#current-dir a:focus {
  background-color: #f0f0f0;
}
