{% extends "layout.njk" %}

{% set title = 'Індекс шкільних розкладів уроків' %}

{% block title %}{{ title }}{% endblock %}

{% block head %}

  <link
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous"
  />

  <link rel="stylesheet" href="{{ relativeRoot }}/directory-index.css">

{% endblock %}


{% block body %}

  <header>
    <h1 id="title">{{ title }}</h1>
  </header>

  <main>
    <h2>
      <ol id="current-dir">
        {% macro linkIf(condition, href) %}
          {% if condition %}
            <a href="{{ href }}">{{ caller() }}</a>
          {% else %}
            <span>{{ caller() }}</a>
          {% endif %}
        {% endmacro %}

        <div>
          {% call linkIf(dirNames|length, href=relativeRoot) %}
            <i class="fa fa-home" aria-hidden="true" title="додому"></i>
          {% endcall %}
        </div>
        {% for dirName in dirNames %}
          <div>
            {% call linkIf(not loop.last, href='..' + '/..'.repeat(loop.revindex0 - 1) if not loop.last else '') %}
              {{ dirName }}
            {% endcall %}
          </div>
        {% endfor %}
      </ol>
    </h2>

    <ol id="contents">
      {% if dirNames|length %}
        <li>
          <a href="../">
            <i class="fa fa-level-up" aria-hidden="true" title="у папку вище"></i>
            &lt;папка вище&gt;
          </a>
        </li>
      {% endif %}
      {% for item in contents %}
        <li>
          <a href="./{{ item.name }}">
            <i
              class="fa fa-{{ 'folder' if item.isDir else 'file-text' }}-o"
              aria-hidden="true"
              title="{{ 'папка' if item.isDir else 'файл' }}"></i>
            {{ item.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </main>

  <footer>
    <p>
      <a href="https://choosealicense.com/licenses/mit/">Ліцензія MIT</a>
      &copy; Дмитро Мелешко 2019
    </p>
  </footer>

{% endblock %}
