{% extends "layout.njk" %}

{% set title = 'Індекс шкільних розкладів уроків' %}

{% block title %}{{ title }}{% endblock %}

{% block head %}

  <link
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous"
  />

  <link rel="stylesheet" href="{{ relativeRoot }}/directory-index.css">

{% endblock %}


{% block body %}

  <main>

    <h1>{{ title }}</h1>

    <h2>
      <ol id="current-dir">
        <div>
          <a href="{{ relativeRoot }}">
            <i class="fa fa-home" aria-hidden="true" title="додому"></i>
          </a>
        </div>
        {% for dirName in dirNames %}
          <div>
            {% if not loop.last %}
              <a href="{{ '..' + '/..'.repeat(loop.revindex0 - 1) }}">{{ dirName }}</a>
            {% else %}
              <span>{{ dirName }}</span>
            {% endif %}
          </div>
        {% endfor %}
      </ol>
    </h2>

    <ol id="contents">
      {% if dirNames|length %}
        <li>
          <a href="../">
            <i class="fa fa-level-up" aria-hidden="true" title="у папку вище"></i>
            &lt;папка вище&gt;
          </a>
        </li>
      {% endif %}
      {% for item in contents %}
        <li>
          <a href="./{{ item.name }}">
            <i
              class="fa fa-{{ 'folder' if item.isDir else 'file-text' }}-o"
              aria-hidden="true"
              title="{{ 'папка' if item.isDir else 'файл' }}"></i>
            {{ item.name }}
          </a>
        </li>
      {% endfor %}
    </ul>

  </main>

{% endblock %}
