{% extends "layout.njk" %}

{% block title %}school-timetable{% endblock %}

{% block head %}

  <link rel="stylesheet" href="{{ relativeRoot }}/timetable.css">

{% endblock %}

{% block body %}

{% set weekdays = ["Понеділок", "Вівторок", "Середа", "Четвер", "П'ятниця"] %}
<table>

  <thead>
    <tr>
      <th colspan="7" id="title">Розклад 2019-2020 І семестр 9-А клас</th>
    </tr>
    <tr>
      <th>Дзвінки</th>
      <th>Урок</th>
      {% for weekday in weekdays %}
        <th>{{ weekday }}</th>
      {% endfor %}
    </tr>
  </thead>

  <tbody>
    {% for time in lessonTimes %}
      {% set lessonIndex = loop.index0 %}
      <tr>
        <td>{{ '%02d:%02d - %02d:%02d' | format(time.start[0], time.start[1], time.end[0], time.end[1]) }}</td>
        <td>{{ lessonIndex + 1 }}</td>
        {% for weekday in weekdays %}
          {% set weekdayIndex = loop.index0 %}
          {% set lesson = lessons[weekdayIndex][lessonIndex] %}
          {% set color = lessonColors[lesson] %}
          <td style="background-color: {{ color.back }}; color: {{ color.fore }}">{{ lesson }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>

  <tfoot>
    <tr>
      <td colspan="7" id="copyright">
        <a href="https://choosealicense.com/licenses/mit/">Ліцензія MIT</a>
        &copy; Дмитро Мелешко 2019
      </td>
    </tr>
  </tfoot>

</table>

{% endblock %}
