@import '../node_modules/material-colors/dist/colors.scss';

ul.DirectoryIndex {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  font-size: 1.1em;

  li {
    border: 1px solid $md-grey-600;
    overflow: hidden;

    &:not(:first-child) {
      border-top-style: none;
    }
  }

  a {
    display: block;
    padding: 0.3em 0.4em;
  }

  .fa {
    width: 1em;
    text-align: center;
  }

  a:hover,
  a:focus {
    background-color: $md-blue-50;
  }
}
