@import './components/Timetable.scss';

body {
  display: block;
  max-width: unset;
  margin: unset;

  & > main {
    padding: 0;
  }
}

table.Timetable {
  & > tfoot {
    text-align: left;
    font-size: 0.9em;
  }
}
